/* Leonardo: jobscheduler.css */
.blu{
  color: #0088CC;
}

.right {
  position: relative;
  float: right;
  padding-right: 1ex;
}

.row-fluid.jobscheduler{
  margin-top: .5em;
  margin-bottom: 3em;
}
