<h3 class="blu">Job scheduling and pausing over night</h3>

<form class="form-horizontal">

  <label class="checkbox">
    <input type="checkbox" data-bind="checked: settings.plugins.jobscheduler.startenabled"/>
    Scheduled print start
  </label>
  <div class="row-fluid jobscheduler">
    <div class="span1"><i class="fa fa-play fa-2x right blu"></i></div>
    <input type="text" class="span3" data-bind="value: settings.plugins.jobscheduler.starttime">
  </div>

  <label class="checkbox">
    <input type="checkbox" data-bind="checked: settings.plugins.jobscheduler.pauseenabled"/>
    Specify day working time (pause on night)
  </label>
  <div class="row-fluid jobscheduler">
    <div class="span1"><i class="fa fa-sun-o fa-2x right blu"></i></div>
    <input type="text" class="span3" data-bind="value: settings.plugins.jobscheduler.pauseday">
    <div class="offset2 span1"><i class="fa fa-moon-o fa-2x right blu"></i></div>
    <input type="text" class="span3" data-bind="value: settings.plugins.jobscheduler.pausenight">
  </div>


  <label class="checkbox">
    <input type="checkbox" data-bind="checked: settings.plugins.jobscheduler.telegramenabled"/>
    Enable Telegram messaging <i class="fa fa-telegram blu"></i>
  </label>
  <div class="row-fluid jobscheduler">
    <div class="span1"><i class="fa fa-key fa-2x right blu"></i></div>
    <input type="text" class="span9" data-bind="value: settings.plugins.jobscheduler.telegramtoken">
    <div class="offset2 span1"><i class="fa fa-user-o fa-2x right blu"></i></div>
    <input type="text" class="span2" data-bind="value: settings.plugins.jobscheduler.telegramchatid">
  </div>

</form>
