<h3 class="blu">Job scheduling and pausing over night</h3>

<form class="form-horizontal">

  <label class="checkbox">
    <input type="checkbox" data-bind="checked: settings.plugins.jobscheduler.startenabled"/>
    Scheduled print start
  </label>
  <div class="row-fluid jobscheduler">
    <div class="span1"><i class="fa fa-play fa-2x right blu"></i></div>
    <div class="span3">
      <input type="text" class="span12" data-bind="value: settings.plugins.jobscheduler.starttime">
    </div>
  </div>

  <label class="checkbox">
    <input type="checkbox" data-bind="checked: settings.plugins.jobscheduler.pauseenabled"/>
    Specify day working time (pause on night)
  </label>
  <div class="row-fluid jobscheduler">
    <div class="span1"><i class="fa fa-sun-o fa-2x right blu"></i></div>
    <div class="span3">
      <input type="text" class="span12" data-bind="value: settings.plugins.jobscheduler.pauseday">
    </div>
    <div class="offset2 span1"><i class="fa fa-moon-o fa-2x right blu"></i></div>
    <div class="span3">
      <input type="text" class="span12" data-bind="value: settings.plugins.jobscheduler.pausenight">
    </div>
  </div>


  <label class="checkbox">
    <input type="checkbox" data-bind="checked: settings.plugins.jobscheduler.telegramenabled"/>
    Enable Telegram messaging <i class="fa fa-telegram blu"></i>
  </label>
  <div class="row-fluid jobscheduler">
    <div class="span1"><i class="fa fa-key fa-2x right blu"></i></div>
    <div class="span9">
      <input type="text" class="span12" data-bind="value: settings.plugins.jobscheduler.telegramtoken">
    </div>
    <div class="span2"></div>
  </div>
  <div class="row-fluid">
    <div class="span1"><i class="fa fa-user-o fa-2x right blu"></i></div>
    <div class="span3">
      <input type="text" class="span12" data-bind="value: settings.plugins.jobscheduler.telegramchatid">
    </div>
  </div>

</form>
